.bookCard {
  color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: auto;
  width: 600px;
  background-color: rgb(97, 97, 97);
  margin: 10px;
}

.bookTitle {
  margin: 20px;
  height: auto;
  width: auto;
}

.bookInfo {
  margin: 20px;
  height: auto;
  width: auto;
  font-size: 13px;
}

.bookCard > img {
  margin: 15px;
}

img {
  border-radius: 10px;
  border: solid 2px #414040;
}
